/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* Google Fonts Import End */

/* Root Variables */

:root {
    --bgColor1: #f9f8f6;
    --mainBg: #9CCBA2;
    --darkBg: #355326;
}


/* CSS RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS RESET End */


/* Utilities */

a {
    display: block;
    text-decoration: none;
    color: #000;
}

span {
    display: inline-block;
}

ul li {
    display: block;
    list-style: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
}

body {
    background-color: var(--bgColor1);
}

/* Utilities Style End */

/* Nav Styling */

.topHeader {
    font-family: 'Rubik', sans-serif;
    height: 40px;
    width: 100%;
    text-align: center;
    border: 1px solid greenyellow;
    box-shadow: 0px 0px 5px 4px rgb(0, 0, 0, 0.3);
    text-shadow: 2px 2px 0px var(--mainBg);
    background-color: var(--bgColor1);
    user-select: none;
    font-family: 'Rubik', sans-serif;
    font-size: 0.9rem;
}

.navBgColor {
    background-image: linear-gradient(to bottom, #23a823, white);
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.2) inset;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navWrapper {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.navBranding {
    text-align: center;
}

.navBranding img {
    border-radius: 10%;
    box-shadow: 0px 0px 10px 0px green;
}

.navMenu {
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.navItem {
    gap: 50px;
}

.navLink {
    border: none;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.5) inset;
}

.navLink a {
    width: 100%;
    padding: 5px 0;
    border-radius: 20px;
    font-family: 'Karla', sans-serif;
    padding: 20px 40px;
}

.navLink a:hover {
    background-color: #355326;
    color: whitesmoke;
}

.hamburgerMenu {
    display: none;
    height: 20px;
    width: 35px;
}

/* Nav Style End */

/* Hero Section Style */

.bgImage1 {
    background-image: url(/images/Untitled\ design.svg);
    height: 550px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.heroPageWrapper {
    max-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
    height: 100%;
}

.heroContent {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--mainBg);
}

.membershipBtn {
    padding: 2% 4%;
    font-family: 'Karla', sans-serif;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.5) inset;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.membershipBtn:hover {
    background-color: var(--mainBg);
    color: var(--bgColor1);
}

/* Hero Section End */



/* Carousel Section Style */

.carouselWrapper {
    width: 100%;
    height: 900px;
    margin-bottom: 0px;
    background: url(/images/paper-style-white-monochrome-background_23-2149009544.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.carouselMain {
    margin: 0 auto;
    /* width: 100%; */
    position: relative;
    height: 500px;
}

.carouselItem {
    margin: 20px 0;
    position: absolute;
    flex-direction: column-reverse;
    opacity: 0;
    width: 100%;
    transition: 200ms ease-in-out;
    transition-delay: 200ms;
}

.readMoreBtn {
    position: absolute;
    bottom: -80%;
    right: 10%;
    left: 10%;
    z-index: 2;
    background-color: var(--mainBg);
    height: 50px;
    width: 40%;
    border-radius: 10px;
    transition: 0.4s ease-out all;
    line-height: 3;
}
.carouselItem .readMoreBtn:hover {
    background-color: #355326;
    color: var(--bgColor1);
}

.carouselMain :first-child h2 {
    font-size: 3.2rem;
    width: 40%;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    justify-self: center;
    height: 100%;
    margin-top: 180px;
}

.carouselItem > :first-child ~ :nth-child(2) {
    font-family: 'Rubik', sans-serif;
    color:#000;
    text-shadow: 2px 2px 0px var(--bgColor1);
    margin: 10px 0;
    width: 80%;
    text-align: center;
}

.carouselMain .carouselItem img {
    object-fit: cover;
    width: 700px;
    height: 700px;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.4);
    border-radius: 10px;
}

.carouselBtnCircle {
    position: absolute;
    bottom: -70%;
    gap: 40px;
    right: 50%;
    transform: translateX(50%);
}

.carouselBtn {
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color :#355326;
    cursor: pointer;
}

.carouselBtnActive {
    background-color: #999;
}

.carouselItemActive {
    opacity: 1;
    transition: 0.5s ease-in-out all;
}

/* Carousel Style End */


/* Read More Page */

.workWrapper {
    margin: 20px auto;
    max-width: 1200px;
    padding: 0 20px;
}

.socialEventHolder {
    margin: 20px 0;
}

.socialEventHolder h1 {
    margin: 10px 0;
}

.gridPhotos {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 20px 0;
}

.slidePhotos {
    width: fit-content;
    height: 500px;
    object-fit: contain;
    position: absolute;
    opacity: 0;
    animation: slideEffect 12s infinite;
    border-radius: 20px;
    border: 10px solid var(--mainBg);
    box-shadow: 0px 0px 25px 2px rgb(0, 0, 0, 0.3) inset;
}

@keyframes slideEffect {
    0% {
        transform: translateX(300px);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    20% {
        transform: translateX(0);
        opacity: 1;
    }
    30% {
        transform: translateX(-300px);
        opacity: 0;
    }
    100% {
        transform: translateX(-300px);
        opacity: 0;
    }
}


.slidePhotos:nth-child(2) {
    animation-delay: 2s;
}
.slidePhotos:nth-child(3) {
    animation-delay: 4s;
}
.slidePhotos:nth-child(4) {
    animation-delay: 6s;
}
.slidePhotos:nth-child(5) {
    animation-delay: 8s; 
}
.slidePhotos:nth-child(6) {
    animation-delay: 10s;
}

/* Read More End */


/* Our Value Style */


.bgValueWrapper {
    background-color: var(--bgColor1);
    height: 1000px;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.4);
}

.mainValueWrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    height: fit-content;
}

.valueCardHolder {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 0.6fr 1fr 1fr;
    grid-template-areas: 
    "valueHeader valueHeader valueHeader"
    "card card card"
    "card card card";
    gap: 15%;
}

.valueHeader {
    grid-area: valueHeader;
    place-self: center;
    margin-top: 50px;
    font-family: 'Rubik', sans-serif;
    font-size: 2.5rem;
}

.valueCard {
    grid-area: card;
}

.item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--mainBg);
    /* padding: 20px 60px; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.5) inset;
    overflow-wrap: break-word;
    word-break: break-all;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.item h2 {
    margin: 15px auto;
    font-family: 'Rubik', sans-serif;
    position: relative;
    height: 10%;
}

.item p {
    margin: auto;
    font-family: 'Karla', sans-serif;
    width: 80%;
    height: 90%;
    margin-bottom: 30px;
}

.item h2::after {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 50%;
    right: 50%;
    background-color: #000;
    height: 4px;
    transition: 0.5s ease-in-out all;
}

.item h2:hover::after {
    left: 0;
    right: 0;
}

/* Value Style End */

/* Other Styles */

.otherSessionWrapper {
    background: url(/images/white-3d-paper-style-wallpaper_23-2148400294\ \(1\).jpg);
    height: 700px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.otherMainContainer {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.leftContentContainer {
    flex-direction: column;
    width: 40%;
    align-items: start;
    gap: 20px;
}

.leftContentContainer h1 {
    width: 70%;
    white-space: break-spaces;
    text-align: start;
    font-family: 'Rubik', sans-serif;
    font-size: 3em;
}

.leftContentContainer p {
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
}

.rightContentContainer {
    width: 40%;
    flex-direction: column;
    border: 1px solid #999;
    padding: 0 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.5) inset;
}

.lineBreak {
    width: 100%;
    height: 1px;
    background-color: #999;
}

.tipContainer {
    text-align: start;
    margin: 50px 0;
    justify-content: space-between;
    width: 100%;
    font-family: 'Karla', sans-serif;
}

.tipContainer div {
    white-space: nowrap;
    font-size: 1rem;
    width: 80%;
}

.tipContainer img {
    width: 10%;
}

.tipContainer span {
    font-weight: 900;
}

/* Other Styles End */

/* faq Container */

.faqSectionWrapper {
    margin: 0 auto;
    padding: 40px 20px;
    max-width: 1200px;
    height: max-content;
}

.faqContainer {
    width: 100%;
    text-align: center;
    flex-direction: column;
    height: fit-content;
    border: 1px solid #999;
    padding: 40px;
    border-radius: 10px;
}

.faqContainer h1 {
    margin: 15px 0;
    font-family: 'Rubik', sans-serif;
}

.faqContainer p {
    margin: 15px 0;
    font-family: 'Karla', sans-serif;
}

.faqCards {
    margin: 20px 0;
    width: 65%;
    border-radius: 10px;
    border: 1px solid #999;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    padding: 10px 0;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.5) inset;
}

.faqCards h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.3em;
}

.collapsibleBtn {
    border: none;
    background-color: transparent;
    justify-content: center;
    cursor: pointer;
}

.collapsibleBtn::after {
    content: '\02795';
    font-size: 13px;
    position: absolute;
    right: -20%;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}

.active:after {
    content: "\2796"; 
}

.collapseContainer {
    width: 80%;
    padding: 0 18px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    text-align: start;
    transition: max-height 0.8 ease-in-out;
}

.collapseContent {
    width: 100%;
    font-family: 'Karla', sans-serif;
}

/* faq Container End */

/* Contact  Styles */

.contactHeroBg {
    background: url(/images/World\ Map\ \(1\).svg);
    width: 100%;
    height: 600px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
}

.contactBgImage {
    background: var(--bgColor1);
    width: 100%;
}

.contactContainer {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

.mainContactForm {
    width: 60%;
    background-color: var(--mainBg);
    margin-right: 25px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.2);
}

form {
    transform: translateX(10%);
}

.mainContactForm h1 {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.mainContactForm input {
    width: 80%;
    margin: 10px 0;
    border: none;
    border-bottom: 5px solid #000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: none;
    background-color: transparent;
    height: 50px;
    padding: 20px;
    font-family: 'Karla', sans-serif;
}

.mainContactForm textarea {
    width: 80%;
    margin: 20px 0;
    resize: none;font-family: 'Karla', sans-serif;
    border: none;
    border-bottom: 5px solid #000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: none;
    background-color: transparent;
    padding: 20px;
    font-family: 'Karla', sans-serif;
}

form > :first-child ~ :nth-child(8) {
    display: block;
    width: 20%;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #355326;
    border: none;
    border-radius: 10px;
    transition: 0.5s ease-out;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    color: var(--bgColor1);
}

form > :first-child ~ :nth-child(8):hover {
    background-color: var(--bgColor1);
    color: #000;
}

.contactDetails {
    flex-direction: column;
    width: 40%;
    font-family: 'Rubik', sans-serif;
}

.contactCard {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px 0;
    height: 150px;
    padding: 40px;
    background-color: var(--mainBg);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.2);
}

.contactCard > :first-child ~ :nth-child(2) {
    margin-top: 20px;
    font-family: 'Karla', sans-serif;
}

.contactCard img {
    margin-right: 10px;
}

/* Contact Styles End */

/* Footer Style Style */

.footerBgColor {
    background: var(--darkBg);
}

.footerContainer {
    margin: 0 auto;
    max-width: 1200px;
    padding: 40px 20px;
    justify-content: space-between;
    color: var(--bgColor1);
}

.footerContent {
    width: 25%;
}

.footerContent p {
    margin-top: 20px;
    font-family: 'Karla', sans-serif;
    user-select: none;
    width: 100%;
    overflow-wrap: break-word;
    word-break: break-all;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.logoBrandingHeader {
    justify-content: space-between;
    align-items: center;
}

.logoBrandingHeader h1 {
    font-size: 1.3em;
    font-family: 'Rubik', sans-serif;
    color: var(--bgColor1);
}

.logoBrandingHeader img {
    margin-right: 10px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0, 0.2);
}

.footerMenuContainer {
    width: 25%;
    height: 100px;
    flex-direction: column;
    justify-content: space-between;
}

.footerMenuContainer h2 {
    margin-bottom: 20px;
    font-family: 'Rubik', sans-serif;
    user-select: none;
}

.footMenu {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.footItems {
    width: 100%;
    font-family: 'Karla', sans-serif;
}

.footItems a{
    width: fit-content;
    position: relative;
    user-select: none;
    font-family: 'Karla', sans-serif;
    color: var(--bgColor1);
}

.footItems a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0%;
    right: 100%;
    background-color: var(--bgColor1);
    height: 2px;
    transition: 0.5s ease-in-out all;
}

.footItems a:hover::after {
    right: 0;
}

.footItems div {
    width: 20%;
    margin: 5px;
}

.footItems img {
    width: 50%;
    object-fit: contain;
}

.footItems span {
    width: 50%;
    text-align: left;
}

.lineBreak2 {
    background-color: #000;
    height: 1px;
    width: 100%;
}

.copyrightSection {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

.copyrightText {
    text-align: center;
}